version: "3.7"
services:
  www:
    build:
      context: ./
      dockerfile: apache2.Dockerfile
    ports:
      - 80:80
      - 443:443
    networks:
      - default
    depends_on:
      - mysql
    volumes:
      - ./src/:/var/www/html/
  mysql:
    build:
      context: ./
      dockerfile: mysql.Dockerfile
    networks:
      - default
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: username
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: mydb
    volumes:
      - ./db_data/:/var/lib/mysql/
  phpmyadmin:
     image: phpmyadmin/phpmyadmin
     ports:
        - 8000:80
     depends_on:
        - mysql
     environment:
        PMA_HOST: mysql
     networks:
        - default
networks:
  default:
volumes:
  data: